@import url('https://fonts.cdnfonts.com/css/monofonto');

p, h1, h2, h3, h4, h5, h6, a, button, input {
    font-family: 'monofonto', sans-serif;
    
}



html{
background: #ff0000;
background: linear-gradient(180deg,rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
body{
    background-color: white;
    margin: auto;
    width: 80%;
    border: 1px black solid;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

footer{
    border-top: 1px black solid;
    margin-top: 2rem;
}
header{
    border-bottom: 1px black solid;
    margin-bottom: 2rem;
}

#pokemonSprite{
    width: 20%;
}

.parent {
  position: relative;
  top: 0%;
  left: 0%;
}
.image1 {
  position: relative;
  top: 0%;
  left: 0%;
}
.image2 {
  position: absolute;
  top: 30%;
  left: 16%;
}

.typeArea{
 position: absolute;
    top: 84%;
    left: 14%;
    background: none;
    border: none;
    color: black;
    text-align: center;
}

.fetchButton{
    position: absolute;
    top: 69%;
    left: 6.2%;
    border-radius: 50%;
    padding: 25px 20px;
    background: none;
    color: white;
    border: none;
    max-width: 100%;
    
}

#pokemonCry{
    position: absolute;
    top: 43%;
    left: 64.5%;
}

#pokemonHeight{
    position: absolute;
    top: 84.7%;
    left: 845px;
    color: white;
    text-align: center;
}

#pokemonWeight{
    position: absolute;
    top: 84.7%;
    left: 1070px;
    color: white;
    text-align: center;
}

#pokemonHp{
    position: absolute;
    top: 32%;
    left: 62%;
}
#pokemonAtk{
    position: absolute;
    top: 32%;
    left: 67%;

}
#pokemonDef{
    position: absolute;
    top: 32%;
    left: 72%;
}
#pokemonSpAtk{
    position: absolute;
    top: 32%;
    left: 77%;

}
#pokemonSpDef{
    position: absolute;
    top: 32%;
    left: 82%;

}
#pokemonSpeed{
    position: absolute;
    top: 32%;
    left: 87%;

}